.container
  // text-align: center


.content 
  position: relative
  width: 100%
  max-width: 1200px
  margin: auto
  display: flex
  flex-direction: row
  flex-flow: wrap
  justify-content: center
  align-content: flex-start
  z-index: 2
  margin-top: 80vh
  padding-bottom: 10rem

.image-holder
  width: 100%
  position: fixed
  top: 0
  height: 100vh
  overflow: hidden
  transform: scale(1.01)
  background-image: url('/static/media/test3.f3023b7e.jpg')
  // -webkit-backface-visibility: hidden
  -webkit-perspective: 1000
  -webkit-transform: translate3d(0,0,0)
  -webkit-transform: translateZ()
  // backface-visibility: hidden
  perspective: 1000
  transform: translate3d(0,0,0)
  transform: translateZ()
  transform: scale(1.05)
  background-size: cover
  background-position: center center

  img
    display: none