body {
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', serif;
  /* font-family: 'Prime Regular'; */
  /* font-family: 'Arya', sans-serif; */
}

:root {
  font-size: 1em;
}

/* h1, h2, h3 {
  font-family: 'Prime Regular';
  text-transform: uppercase;
} */

a, a:hover, a:active, a:visited {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.list-transition-enter, .list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  transition: all .3s;
  max-height: 0;
  opacity: 0;
}

/* This is where we can add the transition*/
.list-transition-enter-active, .list-transition-appear-active {
  transition: all .3s;
  max-height: 20rem;
  opacity: 1;
}

.list-transition-exit {
  max-height: 20rem;
  opacity: 1;
}

.list-transition-exit-active {
  overflow: hidden;
  transition: all .3s;
  max-height: 0;
  opacity: 0;
}

@font-face {
  font-family: 'Prime Regular';
  src: url('./static/fonts/PrimeRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Prime Light';
  src: url('./static/fonts/PrimeLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}